.container {
  display: flex;   
  justify-content: center; 
  align-items: center;      
  height: 100vh;          
}

.loginImg {
  margin-right: 60px;
}

.loginBackground {
  position: relative; /* Pozisyon referansı */
}

.loginForm {
  position: absolute; /* Absolut pozisyonlama */
  top: 50%;          /* Üstten yarı yarıya */
  left: 27%;         /* Soldan yarı yarıya */
  transform: translate(-50%, -50%); /* Tam ortasına getir */
  z-index: 100;      /* Z-index ile üstte tut */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginForm form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginForm label {
  margin-bottom: 5px;
}

.loginForm input {
  padding: 8px;
  margin-bottom: 20px;
}

.loginForm button {
  padding: 10px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
}
